<ul class="main-menu">
  <% menuItems.filter(item => item.p_menu_id === 'ROOT').forEach(top => { %>
    <li class="has-sub">
      <a href="#" class="no-link"><%= top.menu_nm %></a>
      <ul class="submenu">
        <% menuItems.filter(sub => sub.p_menu_id === top.menu_id).forEach(mid => { %>
          <li class="has-sub">
            <a href="#" class="no-link"><%= mid.menu_nm %></a>
            <ul class="submenu">
              <% menuItems.filter(subsub => subsub.p_menu_id === mid.menu_id).forEach(bottom => { %>
                <li>
                  <a href="#" class="menu-link" data-url="<%= bottom.url %>"><%= bottom.menu_nm %></a>
                </li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    </li>
  <% }) %>
</ul>
