<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>KARC</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
  <!-- 🔺 헤더 영역 (타이틀) -->
  <header class="site-title-bar">
    <h1 class="site-title">건국에이스러닝크루</h1>
  </header>

  <%- include('partials/menu', { menuItems }) %>

  <main id="content">
    <pre>
      건국에이스러닝크루는 
      화,목,토 05시30분에 서울숲 공영주차장에 모여
      아름다운 서울숲에서 달리기로 하루 일과를 시작하는
      마라톤을 진정으로 좋아하는 사람들의 모임입니다.
      달리기로 상호간의 우의를 다지고 
      건강 증진하기를 원하시는 분은 
      누구라도 환영합니다.
    </pre>
  </main>

  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/menu.js"></script>
</body>
</html>
